body {
  background-color: #20336d;
  z-index: 11;
}

#trapezoid {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 80px solid rgba(0, 0, 0, 0);
  border-top: 0 solid;
  border-bottom: 100px solid rgba(1, 1, 1, 0.4);
  border-radius: 20px 20px 0 0;
  font: normal 100% / normal Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  -o-text-overflow: clip;
  text-overflow: clip;
  transform: rotateX(180deg);
  margin-top: -53px;
  /* width: 100%; */
  position: relative;
  transition: all 0.7s ease;
  /* padding-left: 10%; */
  background: #416ae6;
  z-index: 11;
}

#trapezoid a,
.subnavbtn {
  transform: rotateX(180deg);
}

.navbar .logout-button {
  transform: rotateX(180deg);
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 25px;
  background-color: #416ae600;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
  float: left;
  overflow: hidden;
}

.navbar .logout-button:hover {
  background: #fffefea0;
  color: black;
  border-radius: 30px;
}

.sub-home {
  display: none;
  position: absolute;
  right: 0;
  left: 0;

  z-index: 2;
  transform: none;
  margin-top: -200px;
}

#trapezoid:hover .sub-home {
  justify-content: center;
  margin-top: 53px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}

.subnav {
  float: left;
  overflow: hidden;
  justify-content: center;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 25px;
  background-color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
  text-align: center;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background: #cdd6cfa0;
  color: black;
  border-radius: 30px;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  transform: none;
  margin-top: -15px;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background: #fffefea0;
  color: black;
}

.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
}
